@page "/web-editor/{*filename}"
@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<div>
    <div class="form-group">
        <MonacoEditor @ref="MonacoEditor"
        Id="exampleFormControlTextarea1"
        ConstructionOptions="EditorConstructionOptions"
        OnDidInit="EditorOnDidInit"
        OnDidChangeModelContent="EditorOnDidChangeModelContent " />
    </div>
</div>
