@page "/"
@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<h1>Running a console application directly in your browser</h1>

Upload a zipped dotnet project or create a new project.

<br />

<button type="button" class="btn btn-primary" @onclick="Click">
    <span class="oi oi-plus"></span>
    New Project
</button>