@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Blazor Console Runner</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="try" Match="NavLinkMatch.All">
                <span class="oi oi-play-circle" aria-hidden="true"></span> Run
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="upload" Match="NavLinkMatch.All">
                <span class="oi oi-arrow-circle-top" aria-hidden="true"></span> Upload
            </NavLink>
        </li>

        @if (ZipFileState.Value.ZipEntries.Any())
        {
            <li class="nav-item px-3">
                <div style="color: white">
                    <hr style="background-color: white" />
                    <span class="oi oi-folder" aria-hidden="true"></span> Zip File
                </div>
                <ul class="nav flex-column">
                    @foreach (var item in ZipFileState.Value.ZipEntries)
                    {
                        <li class="nav-item px-3">
                            <NavLink class="nav-link" href="@{ $"web-editor/{item.Value.Name}" }" Match="NavLinkMatch.All">
                                <span class="oi oi-code" aria-hidden="true"></span> @item.Value.Name.Split('/').Last()
                            </NavLink>
                        </li>

                    }
                </ul>
            </li>
        }
    </ul>
    </div>