@page "/"

<h1>Hello, world!</h1>

<div class="drag-drop-zone">
    <InputFile OnChange="OnInputFileChange" accept=".zip" />
    @_status
</div>

@if (_fileName != null)
{
    <h3>@_fileName</h3>
    if (_entries.Any())
    {
        <ul>
            @foreach (var item in _entries.Where(x => !x.Name.EndsWith("/")))
            {
                <li>
                    <h4>@item.Name</h4>
                    <pre>@item.Content</pre>
                </li>
            }
        </ul>
    }
}
